.main {
  border: 2px solid green !important;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 100;

  border-radius: 9px;
  background: white;
  overflow: hidden;
  width: auto;
  max-height: 5vh;
  max-height: 5vh;

  .uploadButton {
    display: flex;
  }

  .jsonPaster {
    display: flex;
    position: relative;
    width: 100%;
    height: 100% !important;
    background: none;
    border: none;
    background: #f1e1cc;
  }
}
