.main {
  // border: 1px solid red !important;
  // margin: 6px;

  :global {
    .MuiAccordionSummary-root {
      background: lightblue;
      min-height: unset !important;
      height: 40px;
      padding: 0px 11px !important;
    }

    .MuiAccordionDetails-root {
      padding: 0px !important;
    }
  }
  .content {
    // border: 1px solid green !important;
    width: 100%;
  }
  .header {
    // border: 4px solid blue !important;
  }
}
