@import "../../Styles/mixins.modules.scss";

.girlHeadContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  background: var(--light-pink);

  border: 2px solid var(--set1-purple-brdr);
  top: 0px;
  left: 0px;

  // max-height: var(--cell-height-small);
  // min-height: var(--cell-height-small);

  // min-width: var(--cell-height-small);
  // max-width: var(--cell-height-small);

  margin: 3px;
  border-radius: 6px;
}

.girlHead {
  // width: 100%;
  // height: auto;
  // border: 4px solid blue !important;
  width: 140%;
}

.girlHeadAmberContainer {
  border: 1px solid blue !important;
}

.girlHeadAmber {
  // border: 4px solid red !important;
  // width: 170%;
}

.girlHeadKat {
  // border: 4px solid green !important;
  // width: auto;
  // height: 85%;
}

.moodLabel {
  // @include item-label;
  // border: 1px solid blue !important;
  // background: var(--light-pink);
  // border-radius: 3px;
  // padding: 0 3px;
  // position: absolute;
  // z-index: 10;
  // left: 50%;
  // transform: translateX(-50%);
  // bottom: 1%;
  // top: unset;
}
