@import "../../Styles/mixins.modules.scss";

.main {
  display: flex;
  flex: 1 1;

  height: 100%;
  width: 100%;

  .imageContainer {
    display: flex;
    justify-content: center;
    flex: 1 1;

    z-index: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .image {
      height: 100%;
      width: auto;
    }

    .itemLabel {
      position: absolute;
      border-top: 1px solid red !important;
      background: var(--light-pink);
      padding: 0 3px;
      bottom: 0vh;
      left: 0vh;
      width: 100%;
      display: flex;
      font-size: 1vh;
      font-weight: 500;
      margin: 0px;
      line-height: 1vh;
      /* text-align: center; */
      justify-content: center;
    }

    .xxxitemLabel {
      @include item-label;
      position: absolute;
      border: 1px solid blue !important;
      z-index: 10;

      background: var(--light-pink);
      border-radius: 3px;

      padding: 0 3px;
      transform: translate(-50%, 25%);

      width: auto;

      left: 50%;
      top: unset;
      bottom: 6%;
    }
  }

  .amount {
    position: absolute;
    display: flex;
    align-items: center;
    border: 1px solid black;
    /* width: 2vh; */
    /* height: 2vh; */
    z-index: 2;
    justify-content: center;
    border-radius: 0px;
    background: #ffb8b87a;
    right: 0px;
    font-size: 1vh;
    padding: 0 0.1rem;
    border-bottom-left-radius: 4px;
    border-top: none;
    border-right: none;
  }
}
