.main {
  :global {
    .bp3-button {
      min-width: 16px;
      min-height: 16px;
    }

    .MuiInput-underline {
      border: 1px solid rgb(180, 180, 180) !important;
      padding: 0px 4px !important;
      border-radius: 3px;
      background: #dedede;
    }

    .MuiInput-underline:focus,
    .MuiInput-underline:visited,
    .MuiInput-underline:active,
    .MuiInput-underline:hover {
      &:before {
        border: none !important;
      }
    }

    .MuiInput-underline:before {
      border: none;
    }
  }

  .sceneDropdown {
    min-width: 175px;
    height: 20px;
    margin: 2px 0px;
    max-width: 193px;
    background: lightpink;
  }

  .triggersTable {
    max-width: 100%;
    box-shadow: none;
    border: 1px solid black;
    margin-top: 2px;

    :global {
      .MuiTableCell-body {
        padding: 2px 5px;
        border-bottom: 1px solid black;
      }

      .MuiSelect-selectMenu {
        max-height: 1em;
        height: 1em !important;
        max-height: 5px !important;
        padding: 0px;
        padding-right: 24px;
      }
    }
  }

  .addTriggerButton {
    position: absolute;
    height: 24px;
    right: 0px;
  }

  .buttonGroup {
    display: flex;
    flex: 1 1;
    border: 1px solid green !important;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
  }
}
