.main {
  display: flex;
  min-width: 100% !important;
  min-height: 100%;
  white-space: nowrap;
  background: transparent;
  color: var(--test-var);
  font-family: Arial, Helvetica, sans-serif;
  line-height: var(--row-height);
  font-size: var(--row-font-size);
}
